._container {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $color_accent;
    border-radius: 15px;
    padding: 20px 50px;
}
._section {
  padding: 20px;
    max-width: 1920px;
}