main{
    display: flex;
    justify-content: center;
}
.product__section {
}
._section {
}
.product__container {
    border: 2px solid $color_accent;
    border-radius: 15px;
    padding: 20px 51px;
}
._container {
}
.product__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: center;
}
.product__item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid $color_accent;
    border-radius: 15px;
    padding: 20px;
}
._list {
}
.product__title {
}
.product__btn {
    display: flex;
    align-self: flex-end;
    padding: 10px 25px;
}