<header class="header-section _section ">
    <div class='header-container _container'>
        <nav class="nav">
            <ul class='nav__list'>
                <li class='nav__item _list'>
                    <a rel='noopener no-referrel nofollow' class='_active nav__link _link' href='./index.html'>Shop</a>
                </li>
                <li class='nav__item _list'>
                    <a rel='noopener no-referrel nofollow' class='nav__link _link' href='./cart.html'>Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>